.shareLinks {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100vw;
}
.shareLinks > span {
  margin-right: 15px;
}
#shareLinks > h2 {
  font-size: var(--fs-1);
  font-weight: var(--fw);
}
#shareLinks a {
  font-size: var(--fs-1);
}
#shareLinks,
.msgComponentClass {
  text-align: center;
  display: grid;
  place-items: center;
}
.msgComponentClass {
  font-family: var(--ff);
  font-size: var(--fs-1);
  font-weight: var(--fw);
  height: 177px;
  animation-name: winnerAnimation;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes winnerAnimation {
  /* 0% {background-color: var(--accent);font-size: 1.5em};
    25% {background-color: var(--accent); font-size: 1.7em}; */
  from {
    color: var(--accent);
    font-size: 1.2em;
  }
  to {
    color: var(--accent);
    font-size: 1.275em;
  }
}
